.myinput {
  width: 90vw;
  height: 40px;

  padding-left: 8px;
  border-radius: 16px;
  margin-bottom: 8px;

  font-size: 21px;
}

.mybutton {
  width: 90vw;
  height: 48px;
  border-radius: 8px;
  font-size: 21px;
  background: tomato;
  color: white;
}
